:root {
  color-scheme: light dark;
}

body {
  max-width: 50em;
  margin: 3em auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 2em;
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 0.5em;
}

svg {
  width: 1em;
  height: 1em;
}

@media (prefers-color-scheme: dark) {
  svg {
    filter: invert(1);
  }
}

input[type="checkbox"],
svg,
img {
  margin-left: 0;
  margin-right: 0.5em;
}

.check-details {
  margin-left: 2em;
}

.more-information {
  font-size: small;
  margin-left: 2em;
}

.ui {
  font-weight: bold;
}
